/* Colors based on Salmon */
/* Dark: #21231E, Dark Orange: #AD5334, Light Orange: #B87544, Yellow-Beige: #D6BA7B, Purple-Grey: #A3887D, Green-Grey: #B8AD98 */

body {
    background-color:#B8AD98;
}

header {
    display: inline-block;
    text-align: center;
    margin: auto 0px;
    width: 100%;
    box-shadow: 2px 3px 10px;
    background-color: white;
    padding-top: 10px;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
h2 {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
h3 {
    font-family: 'Lobster', cursive;
    font-size: 16px;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 55px;
    height: max-content;
    position: fixed; 
    background-color: #21231E;
    top: 0;
}
li.nav a {
    display: block;
    color:#D6BA7B;
    text-decoration: none;
    padding: 3px;
    text-align: left;
    font-size: 16px;
}
li.nav a:hover {
    background-color: lightgrey;
    color: #AD5334;
}


img {
    background-color: white;
    display: block;
    text-align: center;
    margin: 0px auto;
    padding: 15px;
}

#tableContainer {
    border: 50px #AD5334;
    overflow: auto;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;   
    background-color: seashell;
}

th, td {
    padding: 7px 5px;
}

td {
    border-bottom: 1px solid #21231E;
}

th {
    border-bottom: 2px solid #21231E;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
}

tr:hover {
    background-color: lightgray;
}

input:focus {
    border: 2px #21231E;
}

button:hover {
    background-color: lightgrey;
    color: #AD5334;
}