/* Colors based on Salmon */
/* Dark: #21231E, Dark Orange: #AD5334, Light Orange: #B87544, Yellow-Beige: #D6BA7B, Purple-Grey: #A3887D, Green-Grey: #B8AD98 */

body {
    background-color:#B8AD98;
}

header {
    display: inline-block;
    text-align: center;
    margin: auto 0px;
    width: 100%;
    box-shadow: 2px 3px 10px;
    background-color: white;
    padding-top: 10px;
}
h1 {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #21231E;
}
h2 {
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
h3 {
    font-family: 'Lobster', cursive;
    font-size: 16px;
    color: #AD5334;
}
h4 {
    font-weight: bold;
}

/* NAV */
ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
    height: max-content;
    position: fixed; 
    background-color: #21231E;
    top: 0;
}
li.nav a {
    display: block;
    color:#D6BA7B;
    text-decoration: none;
    padding: 3px;
    text-align: left;
    font-size: 18px;
}
li.nav a:hover {
    background-color: lightgrey;
    color: #AD5334;
}

p, address {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#top {
    border-bottom: 1px solid #21231E;
    padding-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

#content1 {
    align-content: left;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    display: inline-block;
    width: 30%;
}

#top>h2 {
    margin-bottom: 10px;
}

#fishCollage {
    margin-top: 5px;
    align-items: center;
    border: #21231E 2px solid;
    padding: 2px;
}

#content3 {
    align-content: right;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 15px;
    display: inline-block;
    width: 30%;
}

/* Merch  */
#merchContainer {
    border-bottom: #21231E 1px solid;
    text-align: center;
}

#merchContainer>h2 {
    margin-top: 20px;
}

#merchContainer img {
    height: 250px;
    margin: 20px 30px;
    border: solid #21231E 2px;
    padding: 2px;
}

/* locations and map */
.mapouter, #locationContainer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mapouter {
    float: right;
    clear: both;
    margin-right: 20px;
    margin-bottom: 10px;
}

#locationContainer {
    display: inline-block;
    border: 3px solid #21231E;
    width: 50%;
    margin-left: 20px;
}

#titleLocation {
    margin: 10px;
}

#seattle, #tokyo, #dubai, #paris, #lima {
    margin: 10px 0px 0px 10px;
}

#happyFamily {
    margin: 10px 0px 0px 10px;
}

#locationContainer address {
    margin-left: 10px;
}

#locationContainer p {
    margin-left: 10px;
}

/* footer  */
footer {
    text-align: center;
    display: inline-block;
    margin: auto 0px;
    width: 100%;
    height: 110px;
    background-color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#chinookSalmon {
    float: right;
    text-align: center;
    margin: 10px 20px 20px 5px;
}

#footerHours, #footerContact {
    float: left;
    width: 20%;
    text-align: left;
    margin: 10px 5px 20px 0px;
    margin-left: 30px;
}

#logo {
    background-color: white;
    display: block;
    text-align: center;
    margin: 0px auto;
    padding: 15px;
}

/* Table */
#tableContainer {
    border: 50px #AD5334;
    overflow: auto;
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;   
    background-color: seashell;
}

th, td {
    padding: 7px 5px;
}

td {
    border-bottom: 1px solid #21231E;
}

th {
    border-bottom: 2px solid #21231E;
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
}

tr:hover {
    background-color: lightgray;
}

/* Forms */
fieldset {
    width: 50%;
    border: 1px solid #21231E;
    border-radius: 10px;
    padding: 20px;
    margin-left: 30px;
    margin-bottom: 50px;
    display: inline-block;
}

legend {
    background-color: seashell;
    border: 1px solid #21231E;
    border-radius: 10px;
    padding: 10px 20px;
    text-align: left;
}

input:focus {
    border: 2px #21231E;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #AD5334;
    border-style: none;
    color: white;
}

button:hover {
    background-color: lightgrey;
    color: #AD5334;
}